@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}


.calculator {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: black;
    font-family: 'Khand', sans-serif;
    color: aliceblue;
    border-radius: 20px;
}

.display {
    font-weight: 600;
    font-size: 70px;
    /* line-height: 100px; */
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 26vh;
    /* margin-bottom: 20px; */
    background-color: black;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;

}

.buttons {
    background: #1F1F1F;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 32px 32px 20px 20px;
}

.buttons .zero {
    grid-column: span 2;
}

.calculator button {
    font-family: 'Khand';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;
    color: white;
    background: #292929;
    width: auto;
    height: 77px;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    border: 2px;
}

.buttons .operador {
    color: #FBAB18;
}

button:hover {
    background-color: #FBAB18;
    color: black !important;
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: black;
    }

    .calculator{
        width: 100%;
        height: 100%;
        justify-content: space-between; 
    }

    .display{
        font-size: 150px;
        margin: 0;
    }

    .buttons{
        height: 70vh;
        border-radius: 32px 32px 0px 0px;
        grid-gap: 40px;
        padding: 40px;
        padding-top: 60px;
    }

    .calculator button{
        font-size: 80px;
        border-radius: 30px;
        height: auto;
        width: auto;
    }

}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: black;
    }

    .calculator{
        width: 100%;
        height: 100%;
        justify-content: space-between; 
    }

    .display{
        font-size: 100px;
        margin: 0;
    }

    .buttons{
        height: 70vh;
        border-radius: 32px 32px 0px 0px;
        grid-gap: 15px;
    }

    .calculator button{
        height: auto;
        width: auto;
    }
}